{
    "word_embedding" : "./word2vec.output",
    "dataset" : [
        {
            "domain" : "public_transport",
            "train" : "./output/public_transport.train",
            "valid" : "./output/public_transport.valid",
            "test" : "./output/public_transport.test"
        }
    ]
}
