{
    "word_embedding" : "./word2vec.data",
    "training_data" : [
        {
            "domain" : "gallery",
            "train" : "./train/domain_gallery.train",
            "test" : "./train/domain_gallery.test"
        },
        {
            "domain" : "clock",
            "train" : "./train/domain_clock.train",
            "test" : "./train/domain_clock.test"
        },
        {
            "domain" : "phone",
            "train" : "./train/domain_phone.train",
            "test" : "./train/domain_phone.test"
        }
    ]
}
