{
    "word_embedding" : "./word2vec.data",
    "epoch" : 2,
    "training_data" : {
            "domain" : "gallery",
            "slots" : [ "to_person", "share_via" ],
            "train" : "./train/domain_gallery_share_contents.train",
            "test" : "./train/domain_gallery_share_contents.test"
        }

}
